[Desktop Entry]
Name=rcdiscover
Comment=Discover devices via GigE Vision
Exec=rcdiscover-gui
Terminal=false
Type=Application
StartupWMClass=rcdiscover
StartupNotify=false
Icon=rcdiscover-gui
Categories=Utility;
