
#include <Windows.h>

icon ICON "logo_128.ico"

#define STR(s) #s
#define XSTR(s) STR(s)

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    PACKAGE_VERSION_MAJOR,PACKAGE_VERSION_MINOR,PACKAGE_VERSION_PATCH,0
 PRODUCTVERSION PACKAGE_VERSION_MAJOR,PACKAGE_VERSION_MINOR,PACKAGE_VERSION_PATCH
 // FILEFLAGSMASK 0x3fL
 #ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
 #else
 FILEFLAGS 0x0L
 #endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
 BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Roboception GmbH"
            VALUE "FileDescription",  "rcdiscover"
            VALUE "FileVersion",      PROJECT_VERSION
            VALUE "ProductVersion",   PROJECT_VERSION
            VALUE "InternalName",     "rcdiscover"
            VALUE "LegalCopyright",   "2017-2024, Roboception GmbH"
            VALUE "OriginalFilename", "rcdiscover-gui.exe"
            VALUE "ProductName",      "rcdiscover"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
 END
